.DS_Store
.VSCodeCounter/
__pycache__/
*.pyc
.ipynb_checkpoints/

.conda-env/
.venv/
venv/

.mplconfig/
.mplconfig-test/

2026_board_collab/report_latex/*.aux
2026_board_collab/report_latex/*.fdb_latexmk
2026_board_collab/report_latex/*.fls
2026_board_collab/report_latex/*.log
2026_board_collab/report_latex/*.out
2026_board_collab/report_latex/*.toc

2026_brendan_plan/report_latex/*.aux
2026_brendan_plan/report_latex/*.fdb_latexmk
2026_brendan_plan/report_latex/*.fls
2026_brendan_plan/report_latex/*.log
2026_brendan_plan/report_latex/*.out
2026_brendan_plan/report_latex/*.toc

2026_brendan_plan_silly/report_latex/*.aux
2026_brendan_plan_silly/report_latex/*.fdb_latexmk
2026_brendan_plan_silly/report_latex/*.fls
2026_brendan_plan_silly/report_latex/*.log
2026_brendan_plan_silly/report_latex/*.out
2026_brendan_plan_silly/report_latex/*.toc

2026_opt_contrib_inflation/report_latex/*.aux
2026_opt_contrib_inflation/report_latex/*.fdb_latexmk
2026_opt_contrib_inflation/report_latex/*.fls
2026_opt_contrib_inflation/report_latex/*.log
2026_opt_contrib_inflation/report_latex/*.out
2026_opt_contrib_inflation/report_latex/*.toc

2026_opt_contrib_inflation_tweaks/report_latex/*.aux
2026_opt_contrib_inflation_tweaks/report_latex/*.fdb_latexmk
2026_opt_contrib_inflation_tweaks/report_latex/*.fls
2026_opt_contrib_inflation_tweaks/report_latex/*.log
2026_opt_contrib_inflation_tweaks/report_latex/*.out
2026_opt_contrib_inflation_tweaks/report_latex/*.toc

2026_joint_buget_maint/report_latex/*.aux
2026_joint_buget_maint/report_latex/*.fdb_latexmk
2026_joint_buget_maint/report_latex/*.fls
2026_joint_buget_maint/report_latex/*.log
2026_joint_buget_maint/report_latex/*.out
2026_joint_buget_maint/report_latex/*.toc
2026_joint_buget_maint/source_data/~$*.xlsx

board_approved_2024_spread/report_latex/*.aux
board_approved_2024_spread/report_latex/*.fdb_latexmk
board_approved_2024_spread/report_latex/*.fls
board_approved_2024_spread/report_latex/*.log
board_approved_2024_spread/report_latex/*.out
board_approved_2024_spread/report_latex/*.toc

scraps/
